{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_field, render_form %}


{% block content %}
<div class="container">   

    <div class="row">
        <h4>General Data</h4>
        <p>Input your info:</p>
    </div>
    <div class="row">
        <div class="col-6">
            <form method="post" class="form" role="form">


                {% for field in form %}
                        {% if "attr" not in field.name  %}
                            {% if not field.name.startswith("submit")  %}
                                {{render_field(field)}}
                            {% endif %}
                        {% endif %}

                {% endfor %} 
                <div form-group>
                    <label for="num_of_attrs">Number of Attributes to Scrape</label>
                    {{form.num_of_attrs(class="form-control", onchange="showFields()")}}
                    
                </div>
                <div id="additionalFields">
                    
                    <div form-group class="additional-field">
                        <div class="row mt-2">                           
                            <div class="col-2">Attribute </div>
                            <div class="col-2">{{form.attr1_name(class="form-control")}}</div>
                            <div class="col-6">{{form.attr1_val(class="form-control")}}</div>
                            <div class="col-2">{{form.attr1_add(class="form-control")}}</div>
                        </div>
                    </div>
                    <div form-group class="additional-field" style="display: none;">
                      <div class="row mt-2">
                        <div class="col-2">Attribute </div>
                        <div class="col-2">{{form.attr2_name(class="form-control")}}</div>
                        <div class="col-6">{{form.attr2_val(class="form-control")}}</div>
                        <div class="col-2">{{form.attr2_add(class="form-control")}}</div>
                      </div>
                    </div>
                    <div form-group class="additional-field" style="display: none;">
                      <div class="row mt-2">
                        <div class="col-2">Attribute </div>
                        <div class="col-2">{{form.attr3_name(class="form-control")}}</div>
                        <div class="col-6">{{form.attr3_val(class="form-control")}}</div>
                        <div class="col-2">{{form.attr3_add(class="form-control")}}</div>
                      </div>
                    </div>
                    <div form-group class="additional-field" style="display: none;">
                      <div class="row mt-2">
                        <div class="col-2">Attribute </div>
                        <div class="col-2">{{form.attr4_name(class="form-control")}}</div>
                        <div class="col-6">{{form.attr4_val(class="form-control")}}</div>
                        <div class="col-2">{{form.attr4_add(class="form-control")}}</div>
                      </div>
                    </div>
                    <div form-group class="additional-field" style="display: none;">
                      <div class="row mt-2">
                        <div class="col-2">Attribute </div>
                        <div class="col-2">{{form.attr5_name(class="form-control")}}</div>
                        <div class="col-6">{{form.attr5_val(class="form-control")}}</div>
                        <div class="col-2">{{form.attr5_add(class="form-control")}}</div>
                      </div>
                    </div>
                </div>
                {{ render_field(form.submit)}}  
            </form>
        </div>        
    </div>


</div>


{% endblock %}


{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
  function showFields() {
    var numberSelect = document.getElementById("num_of_attrs");
    
    var selectedValue = numberSelect.value;
    var additionalFieldsDiv = document.getElementById("additionalFields");
    var additionalFields = additionalFieldsDiv.getElementsByClassName("additional-field");
    
    // Hide all additional fields
    for (var i = 0; i < additionalFields.length; i++) {
      additionalFields[i].style.display = "none";
    }
    
    // Show the selected number of additional fields
    for (var i = 0; i < selectedValue; i++) {
      additionalFields[i].style.display = "block";
    }
  }
</script>

{% endblock %}   